<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ha ocurrido un error: {{ status_text }}</title>
</head>
<body>
<h1>¡Vaya! Parece que ha ocurrido un error.</h1>
<h2>El servidor ha devuelto un error "{{ status_code }} {{ status_text }}".</h2>
Algo anda mal. Por favor, indíquenos qué estaba haciendo cuando ocurrió este error e intentaremos arreglarlo lo antes
posible. Sentimos las molestias causadas.
</body>
</html>
