{% trans_default_domain 'calendar' %}
{% extends 'calendar/agreement_calendar_graphic_partial.html.twig' %}

{% block detail %}
    <a href="{{ path('student_tracking', {'id': day.data.id}) }}">
    {% if day.data.trackedHours > 0 and day.data.trackedHours != day.data.hours %}{{ day.data.trackedHours }}/{% endif %}{{ day.data.hours }} {{ 'caption.hours'|trans }}
    </a>
{% endblock %}

