{% trans_default_domain 'student' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    {% set agreement_lock = is_granted('AGREEMENT_LOCK', agreement) %}

    {% if activities_stats %}
        {% include 'calendar/agreement_activities_stats_partial.html.twig' %}
    {% endif %}

    <h2>{{ 'calendar.title'|trans }}</h2>
    {% set buttons = false %}
    {% include 'student/calendar_agreement_partial.html.twig' %}

    {{ m.link_button(path(back_route_name, back_route_params), 'arrow-left', 'btn-default', 'form.back'|trans) }}
{% endblock %}
