{% trans_default_domain 'admin' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'department.title'|trans }}</h2>
    {% include ':admin:manage_departments_partial.html.twig' with {'elements': pagination } %}

    {{ m.link_button(path('admin_menu'), 'arrow-left', 'btn-default', 'form.back'|trans) }}
    {{ m.link_button(path('admin_department_new'), 'plus', 'btn-success', 'department.new'|trans) }}
{% endblock %}
