{% trans_default_domain 'agreement' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'browse.title'|trans }}</h2>
    {% include 'agreement/manage_agreement_partial.html.twig' with {'elements': pagination } %}

    {{ m.link_button(back_path is defined ? path(back_path, path_options) : path(menu_item.parent.routeName, menu_item.parent.routeParams), 'arrow-left', 'btn-default', 'form.back'|trans) }}
    {{ m.link_button(path('admin_' ~ entity ~ '_new', path_options is defined ? path_options : {}), 'plus', 'btn-success', 'form.new'|trans) }}
{% endblock %}
