{% trans_default_domain 'activity' %}
{% extends 'layout.html.twig' %}
{% import '::macros.html.twig' as m %}
{% block content %}
    <h2>{{ 'browse.title'|trans }}</h2>
    {% include 'activity/manage_activities_partial.html.twig' with {'elements': pagination } %}

    {{ m.link_button(path('admin_program'), 'arrow-left', 'btn-default', 'form.back'|trans) }}
    {{ m.link_button(path('admin_program_activity_new', {'training': training.id}), 'plus', 'btn-success', 'form.new'|trans) }}
{% endblock %}
